<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  	<bean id="circle" class="com.sprdemo.DITypeDemo.Circle">
  	<constructor-arg value="red"></constructor-arg>
	</bean>
	
	<bean id="rectangle" class="com.sprdemo.DITypeDemo.Rectangle">
	<property name="color" value="green"></property>
	</bean>
	
	<bean id="shape" class="com.sprdemo.DITypeDemo.Painter">
	<constructor-arg ref="rectangle"></constructor-arg>
	</bean>
</beans>